@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="text-center">
        <h1 class="display-4">Book Manager</h1>
        <form action="/Privacy.cshtml" method="post">
            <p>
                employee number<br>
                <input type="text" name="empNum" size="15" value="00000" maxlength="7" style="text-align:center">
            </p>
            <p> password<br>
                <input type="text" name="empPass" size="30" value="testpass">
            </p>
            <p><input type="button" value="login" id="buttonLogin"></p>
            <button>@Html.ActionLink("login test", "About", "Home", new { area = "" }, new { @class = "nav-link" })</button>
        </form>
    </div>
</main>